@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #D5CFC1;
  --text-color: #D2C1A1;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
}

